<div
    role="radiogroup"
    aria-labelledby="label"
    class="button-group">
        <label 
        id="label"
        class="label">
            {{ label }}
        </label>
        <button 
            role="radio"
            [attr.aria-checked]="value === options.YES"
            type="button" 
            class="button-yes"
            [class.button-pressed]="value === options.YES"
            (click)="activate('yes')">
            Yes
        </button>
        <button 
            role="radio"
            [attr.aria-checked]="value === options.NO"
            type="button"
            class="button-no"
            [class.button-pressed]="value === options.NO"
            (click)="activate('no')">
            No
        </button>
</div>